pkgbase = python-jaraco.context
	pkgdesc = Context managers by jaraco
	pkgver = 5.3.0
	pkgrel = 1
	url = https://github.com/jaraco/jaraco.context
	arch = any
	license = MIT
	checkdepends = python-pytest
	makedepends = python-setuptools-scm
	makedepends = python-build
	makedepends = python-installer
	makedepends = python-wheel
	depends = python>=3.12
	source = jaraco.context-5.3.0.tar.gz::https://pypi.io/packages/source/j/jaraco.context/jaraco.context-5.3.0.tar.gz
	sha256sums = c2f67165ce1f9be20f32f650f25d8edfc1646a8aeee48ae06fb35f90763576d2

pkgname = python-jaraco.context
